connexion[swagger-ui,flask,uvicorn]
python_dateutil
setuptools
swagger-ui-bundle
sqlalchemy
pymysql
waitress
cryptography
werkzeug
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy
pymysql
sqlalchemy-utils
